.vs
bin
obj
GameData/*/Plugins/*.dll
GameData/*/*.LICENSE
GameData/*/README.md
GameData/*/CHANGE_LOG.md
GameData/*/CHANGES.md
GameData/*/*.version
Source/KSPAPIExtensions/tagged_classes.cs
Source/*/Properties/Version.cs
Source/*/*.user
GameData/000_*.dll
